In [1]:
from flask import Flask, render_template
import pandas as pd
import json
import plotly
import plotly.express as px
from tinydb import TinyDB, Query

In [2]:
df = pd.DataFrame({
  'Fruit': ['Apples', 'Oranges', 'Bananas', 'Apples', 'Oranges', 'Bananas'],
  'Amount': [4, 1, 2, 2, 4, 5],
  'City': ['SF', 'SF', 'SF', 'Montreal', 'Montreal', 'Montreal']})

json_df = df.to_json(orient = 'records')

In [8]:
eval(json_df)

[{'Fruit': 'Apples', 'Amount': 4, 'City': 'SF'},
 {'Fruit': 'Oranges', 'Amount': 1, 'City': 'SF'},
 {'Fruit': 'Bananas', 'Amount': 2, 'City': 'SF'},
 {'Fruit': 'Apples', 'Amount': 2, 'City': 'Montreal'},
 {'Fruit': 'Oranges', 'Amount': 4, 'City': 'Montreal'},
 {'Fruit': 'Bananas', 'Amount': 5, 'City': 'Montreal'}]

In [9]:
df = pd.DataFrame(eval(json_df))

In [10]:
df

     Fruit  Amount      City
0   Apples       4        SF
1  Oranges       1        SF
2  Bananas       2        SF
3   Apples       2  Montreal
4  Oranges       4  Montreal
5  Bananas       5  Montreal